In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [13]:
matches_df=pd.read_csv("matches.csv") 
matches_df.sort_values('season').head(5)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
116,117,2008,Mumbai,2008-06-01,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,3,YK Pathan,Dr DY Patil Sports Academy,BF Bowden,RE Koertzen,NaN
82,83,2008,Jaipur,2008-05-04,Chennai Super Kings,Rajasthan Royals,Chennai Super Kings,bat,normal,0,Rajasthan Royals,0,8,Sohail Tanvir,Sawai Mansingh Stadium,Asad Rauf,AV Jayaprakash,NaN
81,82,2008,Mumbai,2008-05-04,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,normal,0,Mumbai Indians,29,0,SM Pollock,Dr DY Patil Sports Academy,IL Howell,RE Koertzen,NaN
80,81,2008,Chandigarh,2008-05-03,Kings XI Punjab,Kolkata Knight Riders,Kings XI Punjab,bat,normal,0,Kings XI Punjab,9,0,IK Pathan,"Punjab Cricket Association Stadium, Mohali",DJ Harper,I Shivram,NaN
79,80,2008,Hyderabad,2008-05-25,Deccan Chargers,Royal Challengers Bangalore,Deccan Chargers,bat,normal,0,Royal Challengers Bangalore,0,5,R Vinay Kumar,"Rajiv Gandhi International Stadium, Uppal",Asad Rauf,RE Koertzen,NaN

Data Cleaning

In [14]:
matches_df=matches_df.drop('umpire3',1)

In [15]:
matches_df.isna().sum()

id                 0
season             0
city               7
date               0
team1              0
team2              0
toss_winner        0
toss_decision      0
result             0
dl_applied         0
winner             3
win_by_runs        0
win_by_wickets     0
player_of_match    3
venue              0
umpire1            1
umpire2            1
dtype: int64

In [16]:
matches_df[matches_df.isnull().any(axis=1)]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN
300,301,2011,Delhi,2011-05-21,Delhi Daredevils,Pune Warriors,Delhi Daredevils,bat,no result,0,NaN,0,0,NaN,Feroz Shah Kotla,SS Hazare,RJ Tucker
461,462,2014,NaN,2014-04-19,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,7,PA Patel,Dubai International Cricket Stadium,Aleem Dar,AK Chaudhary
462,463,2014,NaN,2014-04-19,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders,bat,normal,0,Delhi Daredevils,0,4,JP Duminy,Dubai International Cricket Stadium,Aleem Dar,VA Kulkarni
466,467,2014,NaN,2014-04-23,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,field,normal,0,Chennai Super Kings,7,0,RA Jadeja,Dubai International Cricket Stadium,HDPK Dharmasena,RK Illingworth
468,469,2014,NaN,2014-04-25,Sunrisers Hyderabad,Delhi Daredevils,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,4,0,AJ Finch,Dubai International Cricket Stadium,M Erasmus,S Ravi
469,470,2014,NaN,2014-04-25,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Chennai Super Kings,0,7,MM Sharma,Dubai International Cricket Stadium,BF Bowden,M Erasmus
474,475,2014,NaN,2014-04-28,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,5,Sandeep Sharma,Dubai International Cricket Stadium,BF Bowden,S Ravi
476,477,2014,NaN,2014-04-30,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Sunrisers Hyderabad,15,0,B Kumar,Dubai International Cricket Stadium,HDPK Dharmasena,M Erasmus
545,546,2015,Bangalore,2015-04-29,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,JD Cloete,PG Pathak
570,571,2015,Bangalore,2015-05-17,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,HDPK Dharmasena,K Srinivasan

In [17]:
matches_df['city']=matches_df['city'].fillna(value='Dubai')

In [18]:
matches_df['winner'].fillna('no_result',inplace=True)

In [19]:
matches_df.isnull().sum()

id                 0
season             0
city               0
date               0
team1              0
team2              0
toss_winner        0
toss_decision      0
result             0
dl_applied         0
winner             0
win_by_runs        0
win_by_wickets     0
player_of_match    3
venue              0
umpire1            1
umpire2            1
dtype: int64

 IPL Player Points

In [20]:
points_df=pd.read_csv('IPL_player_points.csv')
points_df=points_df.iloc[:,1:]
points_df.head()

,season,Player_name,Team,player_matches,player_wickets,player_dots,player_fours,player_sixes,player_catches,player_stumpings,player_points
0,2008,Shane Watson,RR,15,17,158,47,19,2,0,406.5
1,2008,Sanath Jayasuriya,MI,14,4,36,53,31,2,0,296.0
2,2008,Yusuf Pathan,RR,16,8,59,43,25,3,0,289.5
3,2008,Albie Morkel,CSK,13,17,100,18,14,3,0,261.0
4,2008,Irfan Pathan,KXIP,14,15,150,9,6,4,0,256.0

In [21]:
points_df.groupby(['Team'])['player_points'].max()

Team
CSK     320.0
DC      328.5
DD      314.5
GL      229.0
KKR     379.5
KTK     219.5
KXIP    304.5
MI      317.0
PWI     228.5
RCB     409.5
RPS     270.0
RR      406.5
SRH     338.5
Name: player_points, dtype: float64

In [22]:
points_df.groupby(['Team']).agg('count')

,season,Player_name,player_matches,player_wickets,player_dots,player_fours,player_sixes,player_catches,player_stumpings,player_points
Team,,,,,,,,,,
CSK,160,160,160,160,160,160,160,160,160,160
DC,117,117,117,117,117,117,117,117,117,117
DD,222,222,222,222,222,222,222,222,222,222
GL,61,61,61,61,61,61,61,61,61,61
KKR,224,224,224,224,224,224,224,224,224,224
KTK,20,20,20,20,20,20,20,20,20,20
KXIP,240,240,240,240,240,240,240,240,240,240
MI,222,222,222,222,222,222,222,222,222,222
PWI,73,73,73,73,73,73,73,73,73,73
RCB,248,248,248,248,248,248,248,248,248,248
RPS,66,66,66,66,66,66,66,66,66,66
RR,181,181,181,181,181,181,181,181,181,181
SRH,125,125,125,125,125,125,125,125,125,125

In [23]:
from sklearn.linear_model import LinearRegression
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn import metrics as sm

In [24]:
points_df.columns

Index(['season', 'Player_name', 'Team', 'player_matches', 'player_wickets',
       'player_dots', 'player_fours', 'player_sixes', 'player_catches',
       'player_stumpings', 'player_points'],
      dtype='object')

In [25]:
points_df.groupby(['season','Team'])['player_points'].count()

season  Team
2008    CSK     19
        DC      20
        DD      18
        KKR     20
        KXIP    20
        MI      22
        RCB     22
        RR      19
2009    CSK     18
        DC      17
        DD      19
        KKR     21
        KXIP    20
        MI      19
        RCB     22
        RR      22
2010    CSK     22
        DC      20
        DD      21
        KKR     21
        KXIP    21
        MI      20
        RCB     22
        RR      25
2011    CSK     17
        DC      19
        DD      22
        KKR     18
        KTK     20
        KXIP    19
                ..
2016    KKR     40
        KXIP    42
        MI      36
        RCB     44
        RPS     46
        SRH     36
2017    DD      19
        GL      23
        KKR     19
        KXIP    22
        MI      18
        RCB     21
        RPS     20
        SRH     19
2018    CSK     20
        DD      22
        KKR     16
        KXIP    17
        MI      15
        RCB     20
        RR      19
        SRH     20
2019    CSK     12
        DC      17
        KKR     12
        KXIP    16
        MI      13
        RCB     12
        RR      11
        SRH     14
Name: player_points, Length: 92, dtype: int64

In [26]:
csk=points_df[(points_df.season==2019)&(points_df.Team=='CSK')]
csk_points=csk[['Player_name','player_matches','player_points']]
csk_points.sort_values(['player_matches','player_points'],ascending=False).head(10)
csk_points.reset_index(drop=True)

csk_team_weightage=csk_points['player_points'].mean()
csk_team_weightage=round(csk_team_weightage,2)
csk_team_weightage

34.08

In [27]:
MI=points_df[(points_df.season==2019)&(points_df.Team=='MI')]
MI_points=MI[['Player_name','player_matches','player_points']]
MI_points.sort_values(['player_matches','player_points'],ascending=False).head(10)
MI_points.reset_index(drop=True)

MI_team_weightage=MI_points['player_points'].mean()
MI_team_weightage=round(MI_team_weightage,2)
MI_team_weightage

29.69

In [28]:
srh=points_df[(points_df.season==2019)&(points_df.Team=='SRH')]
srh_points=srh[['Player_name','player_matches','player_points']]
srh_points.sort_values(['player_matches','player_points'],ascending=False).head(10)
srh_points.reset_index(drop=True)

srh_team_weightage=srh_points['player_points'].mean()
srh_team_weightage=round(srh_team_weightage,2)
srh_team_weightage

30.5

In [29]:
rcb=points_df[(points_df.season==2019)&(points_df.Team=='RCB')]
rcb_points=rcb[['Player_name','player_matches','player_points']]
rcb_points.sort_values(['player_matches','player_points'],ascending=False).head(10)
rcb_points.reset_index(drop=True)

rcb_team_weightage=rcb_points['player_points'].mean()
rcb_team_weightage=round(rcb_team_weightage,2)
rcb_team_weightage

26.29

In [30]:
rr=points_df[(points_df.season==2019)&(points_df.Team=='RR')]
rr_points=rr[['Player_name','player_matches','player_points']]
rr_points.sort_values(['player_matches','player_points'],ascending=False).head(10)
rr_points.reset_index(drop=True)

rr_team_weightage=rr_points['player_points'].mean()
rr_team_weightage=round(rr_team_weightage,2)
rr_team_weightage

34.55

In [31]:
KXIP=points_df[(points_df.season==2019)&(points_df.Team=='KXIP')]
KXIP_points=KXIP[['Player_name','player_matches','player_points']]
KXIP_points.sort_values(['player_matches','player_points'],ascending=False).head(10)
KXIP_points.reset_index(drop=True)

KXIP_team_weightage=KXIP_points['player_points'].mean()
KXIP_team_weightage=round(KXIP_team_weightage,2)
KXIP_team_weightage

29.34

In [32]:
DC=points_df[(points_df.season==2019)&(points_df.Team=='DC')]
DC_points=DC[['Player_name','player_matches','player_points']]
DC_points.sort_values(['player_matches','player_points'],ascending=False).head(10)
DC_points.reset_index(drop=True)

DC_team_weightage=DC_points['player_points'].mean()
DC_team_weightage=round(DC_team_weightage,2)
DC_team_weightage

29.76

In [33]:
KKR=points_df[(points_df.season==2019)&(points_df.Team=='KKR')]
KKR_points=KKR[['Player_name','player_matches','player_points']]
KKR_points.sort_values(['player_matches','player_points'],ascending=False).head(10)
KKR_points.reset_index(drop=True)

KKR_team_weightage=KKR_points['player_points'].mean()
KKR_team_weightage=round(KKR_team_weightage,2)
KKR_team_weightage

35.08

In [34]:
data={'team':['CSK','MI','SRH','RCB','RR','KXIP','DD','KKR'],'Score':[csk_team_weightage,MI_team_weightage,
                                                                                srh_team_weightage,rcb_team_weightage,
                                                                               rr_team_weightage,KXIP_team_weightage,
                                                                               DC_team_weightage,KKR_team_weightage  ]}
team_weightage_df=pd.DataFrame(data)
team_weightage_df

   team  Score
0   CSK  34.08
1    MI  29.69
2   SRH  30.50
3   RCB  26.29
4    RR  34.55
5  KXIP  29.34
6    DD  29.76
7   KKR  35.08

In [35]:
a=team_weightage_df[team_weightage_df.team=='CSK'].Score
print(a[0])

34.08

In [36]:
matches_df.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2'],
      dtype='object')

In [37]:
matches_df=matches_df.drop(['date','dl_applied','win_by_runs','win_by_wickets','player_of_match',
                 'umpire1','umpire2','result'],axis=1)

In [38]:
matches_df.replace(['Mumbai Indians','Kolkata Knight Riders','Royal Challengers Bangalore','Deccan Chargers','Chennai Super Kings',
                 'Rajasthan Royals','Delhi Daredevils','Gujarat Lions','Kings XI Punjab',
                 'Sunrisers Hyderabad','Rising Pune Supergiants','Rising Pune Supergiant','Kochi Tuskers Kerala','Pune Warriors']
                ,['MI','KKR','RCB','DC','CSK','RR','DD','GL','KXIP','SRH','RPS','RPS','KTK','PW'],inplace=True)

In [39]:
matches_df.head(10)

,id,season,city,team1,team2,toss_winner,toss_decision,winner,venue
0,1,2017,Hyderabad,SRH,RCB,RCB,field,SRH,"Rajiv Gandhi International Stadium, Uppal"
1,2,2017,Pune,MI,RPS,RPS,field,RPS,Maharashtra Cricket Association Stadium
2,3,2017,Rajkot,GL,KKR,KKR,field,KKR,Saurashtra Cricket Association Stadium
3,4,2017,Indore,RPS,KXIP,KXIP,field,KXIP,Holkar Cricket Stadium
4,5,2017,Bangalore,RCB,DD,RCB,bat,RCB,M Chinnaswamy Stadium
5,6,2017,Hyderabad,GL,SRH,SRH,field,SRH,"Rajiv Gandhi International Stadium, Uppal"
6,7,2017,Mumbai,KKR,MI,MI,field,MI,Wankhede Stadium
7,8,2017,Indore,RCB,KXIP,RCB,bat,KXIP,Holkar Cricket Stadium
8,9,2017,Pune,DD,RPS,RPS,field,DD,Maharashtra Cricket Association Stadium
9,10,2017,Mumbai,SRH,MI,MI,field,MI,Wankhede Stadium

In [40]:
matches_df['team1'].value_counts()

MI      91
KXIP    84
CSK     83
RCB     76
KKR     74
DD      72
RR      62
SRH     55
DC      43
PW      20
RPS     15
GL      14
KTK      7
Name: team1, dtype: int64

In [41]:
encoding_teams = {'team1': {'CSK':1,'KKR':2,'RCB':3,'DC':4,'MI':5,'RR':6,'DD':7,'GL':8,'KXIP':9,'SRH':10,'RPS':11,'KTK':12,'PW':13},
          'team2': {'CSK':1,'KKR':2,'RCB':3,'DC':4,'MI':5,'RR':6,'DD':7,'GL':8,'KXIP':9,'SRH':10,'RPS':11,'KTK':12,'PW':13},
          'toss_winner': {'CSK':1,'KKR':2,'RCB':3,'DC':4,'MI':5,'RR':6,'DD':7,'GL':8,'KXIP':9,'SRH':10,'RPS':11,'KTK':12,'PW':13},
          'winner': {'CSK':1,'KKR':2,'RCB':3,'DC':4,'MI':5,'RR':6,'DD':7,'GL':8,'KXIP':9,'SRH':10,'RPS':11,'KTK':12,'PW':13,'no_result':14}}
matches_df.replace(encoding_teams,inplace=True)
matches_df.head(5)

,id,season,city,team1,team2,toss_winner,toss_decision,winner,venue
0,1,2017,Hyderabad,10,3,3,field,10,"Rajiv Gandhi International Stadium, Uppal"
1,2,2017,Pune,5,11,11,field,11,Maharashtra Cricket Association Stadium
2,3,2017,Rajkot,8,2,2,field,2,Saurashtra Cricket Association Stadium
3,4,2017,Indore,11,9,9,field,9,Holkar Cricket Stadium
4,5,2017,Bangalore,3,7,3,bat,3,M Chinnaswamy Stadium

In [42]:
print(matches_df['toss_winner'].value_counts(sort=True))
matches_df['winner'].value_counts(sort=True)

5     90
2     87
7     80
3     77
1     77
9     75
6     69
4     43
10    42
13    20
8     15
11    13
12     8
Name: toss_winner, dtype: int64

5     98
1     90
2     86
3     79
9     76
6     70
7     67
10    52
4     29
11    15
8     13
13    12
12     6
14     3
Name: winner, dtype: int64

In [43]:
from sklearn.preprocessing import LabelEncoder

In [44]:
qual_cols=['city','toss_decision','venue']
le=LabelEncoder()
for i in qual_cols:
    matches_df[i]=le.fit_transform(matches_df[i])

In [45]:
le=LabelEncoder()
le.fit(matches_df['venue'])
le_mapping_venue= dict(zip(le.classes_, le.transform(le.classes_)))
print(le_mapping_venue)

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10, 11: 11, 12: 12, 13: 13, 14: 14, 15: 15, 16: 16, 17: 17, 18: 18, 19: 19, 20: 20, 21: 21, 22: 22, 23: 23, 24: 24, 25: 25, 26: 26, 27: 27, 28: 28, 29: 29, 30: 30, 31: 31, 32: 32, 33: 33, 34: 34}

In [46]:
le=LabelEncoder()
le.fit(matches_df['city'])
le_mapping_city = dict(zip(le.classes_, le.transform(le.classes_)))
print(le_mapping_city)

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10, 11: 11, 12: 12, 13: 13, 14: 14, 15: 15, 16: 16, 17: 17, 18: 18, 19: 19, 20: 20, 21: 21, 22: 22, 23: 23, 24: 24, 25: 25, 26: 26, 27: 27, 28: 28, 29: 29, 30: 30, 31: 31, 32: 32}

In [47]:
le=LabelEncoder()
le.fit(matches_df['toss_decision'])
le_mapping_td= dict(zip(le.classes_, le.transform(le.classes_)))
print(le_mapping_td)

{0: 0, 1: 1}

In [48]:
matches_df.drop(['id'],inplace=True,axis=1)

In [49]:
matches_df.columns

Index(['season', 'city', 'team1', 'team2', 'toss_winner', 'toss_decision',
       'winner', 'venue'],
      dtype='object')

In [50]:
#'CSK':1,'KKR':2,'RCB':3,'DC':4,'MI':5,'RR':6,'DD':7,'GL':8,'KXIP':9,'SRH':10,'RPS':11,'KTK':12,'PW':13
team_weightage_df

team_weightage_df[team_weightage_df.team=='CSK'].Score

0    34.08
Name: Score, dtype: float64

In [ ]:
team1_weightage=[]

for i,j in matches_df.team1.iteritems():
    if j==1:
        team1_weightage.append(34.08)
    elif j==2:
        team1_weightage.append(35.08)
    elif j==3:
        team1_weightage.append(26.29)
    elif j==5:
        team1_weightage.append(29.69)
    elif j==6:
        team1_weightage.append(34.55)
    elif j==7:
        team1_weightage.append(29.76)
    elif j==9:
        team1_weightage.append(29.34)
    elif j==10:
        team1_weightage.append(30.50)
    else:
        team1_weightage.append(0)
    
print(team1_weightage)

In [ ]:
team2_weightage=[]

for i,j in matches_df.team2.iteritems():
    if j==1:
        team2_weightage.append(34.08)
    elif j==2:
        team2_weightage.append(35.08)
    elif j==3:
        team2_weightage.append(26.29)
    elif j==5:
        team2_weightage.append(29.69)
    elif j==6:
        team2_weightage.append(34.55)
    elif j==7:
        team2_weightage.append(29.76)
    elif j==9:
        team2_weightage.append(29.34)
    elif j==10:
        team2_weightage.append(30.50)
    else:
        team2_weightage.append(0)
    
print(team2_weightage)

In [53]:
matches_df=matches_df.assign(team2_weightage=team2_weightage)

In [54]:
matches_df=matches_df.assign(team1_weightage=team1_weightage)
matches_df.head(5)

,season,city,team1,team2,toss_winner,toss_decision,winner,venue,team2_weightage,team1_weightage
0,2017,15,10,3,3,1,10,23,26.29,30.50
1,2017,27,5,11,11,1,11,16,0.00,29.69
2,2017,29,8,2,2,1,2,25,35.08,0.00
3,2017,16,11,9,9,1,9,11,29.34,0.00
4,2017,2,3,7,3,0,3,14,29.76,26.29

In [55]:
df=matches_df[['city','team1','team1_weightage','team2','team2_weightage','toss_winner','toss_decision','venue','winner']]
df.head(5)

,city,team1,team1_weightage,team2,team2_weightage,toss_winner,toss_decision,venue,winner
0,15,10,30.50,3,26.29,3,1,23,10
1,27,5,29.69,11,0.00,11,1,16,11
2,29,8,0.00,2,35.08,2,1,25,2
3,16,11,0.00,9,29.34,9,1,11,9
4,2,3,26.29,7,29.76,3,0,14,3

In [56]:
df.isnull().sum()

city               0
team1              0
team1_weightage    0
team2              0
team2_weightage    0
toss_winner        0
toss_decision      0
venue              0
winner             0
dtype: int64

In [57]:
df.corr()

,city,team1,team1_weightage,team2,team2_weightage,toss_winner,toss_decision,venue,winner
city,1.000000,0.082544,-0.070346,0.072064,-0.138372,0.053547,-0.052280,0.141092,0.043309
team1,0.082544,1.000000,-0.366146,-0.076929,0.082518,0.377882,0.069966,0.086163,0.442129
team1_weightage,-0.070346,-0.366146,1.000000,-0.065564,-0.033287,-0.198646,-0.015267,-0.055309,-0.200339
team2,0.072064,-0.076929,-0.065564,1.000000,-0.446783,0.530133,-0.016348,0.096001,0.454689
team2_weightage,-0.138372,0.082518,-0.033287,-0.446783,1.000000,-0.185743,-0.009737,-0.003574,-0.152780
toss_winner,0.053547,0.377882,-0.198646,0.530133,-0.185743,1.000000,0.035490,0.073986,0.409138
toss_decision,-0.052280,0.069966,-0.015267,-0.016348,-0.009737,0.035490,1.000000,-0.046580,0.095414
venue,0.141092,0.086163,-0.055309,0.096001,-0.003574,0.073986,-0.046580,1.000000,0.122268
winner,0.043309,0.442129,-0.200339,0.454689,-0.152780,0.409138,0.095414,0.122268,1.000000

In [58]:
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import KFold   #For K-fold cross validation
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn import metrics as sm
from sklearn.model_selection import train_test_split

C:\Anaconda\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
C:\Anaconda\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [59]:
X=df.loc[:,'city':'venue']
Y=df.loc[:,'winner']

x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2)

Logistic Regression

In [60]:
model_log=LogisticRegression().fit(x_train,y_train)
prediction=model_log.predict(x_test)
sm.accuracy_score(y_test,prediction)*100

30.714285714285715

Random Forest Classifier

In [61]:
mod=RandomForestClassifier(n_estimators=100).fit(x_train,y_train)
pred=mod.predict(x_test)
sm.accuracy_score(y_test,pred)*100

49.28571428571429

In [62]:
pd.Series(mod.feature_importances_,index=X.columns).sort_values(ascending=False)

team2              0.148040
team2_weightage    0.147560
city               0.143831
venue              0.138379
team1              0.137538
toss_winner        0.135735
team1_weightage    0.118310
toss_decision      0.030606
dtype: float64

In [63]:
X.columns

Index(['city', 'team1', 'team1_weightage', 'team2', 'team2_weightage',
       'toss_winner', 'toss_decision', 'venue'],
      dtype='object')

In [ ]:
org_names=encoding_teams['winner']

team1='RCB'
team2='KXIP'
toss_winner='KXIP'
venue=le_mapping_venue.get('M Chinnaswamy Stadium')
city=le_mapping_city.get('Bangalore')
team1_weight=team_weightage_df[team_weightage_df.team==team1].Score
team2_weight=team_weightage_df[team_weightage_df.team==team2].Score

input=[city,org_names[team1],team1_weight,org_names[team2],team2_weight,org_names[toss_winner],1,venue]
input = np.array(input).reshape((1, -1))
output=mod.predict(input)
print(list(org_names.keys())[list(org_names.values()).index(output)])

In [ ]:
org_names=encoding_teams['winner']

team1='RCB'
team2='KXIP'
toss_winner='RCB'
venue=le_mapping_venue.get('M Chinnaswamy Stadium')
city=le_mapping_city.get('Bangalore')
team1_weight=team_weightage_df[team_weightage_df.team==team1].Score
team2_weight=team_weightage_df[team_weightage_df.team==team2].Score

input=[city,org_names[team1],team1_weight,org_names[team2],team2_weight,org_names[toss_winner],1,venue]
input = np.array(input).reshape((1, -1))
output=mod.predict(input)
print(list(org_names.keys())[list(org_names.values()).index(output)])

In [2]:
import requests
import re
import bs4

In [6]:
def top_players(team1,team2):
    season=[]
    player_name=[]
    Team=[]
    player_points=[]
    player_matches=[]
    player_wickets=[]
    player_dots=[]
    player_fours=[]
    player_sixes=[]
    player_catches=[]
    player_stumpings=[]

    ipl_url="https://www.iplt20.com/stats/2019/player-points"
    result=requests.get(ipl_url)
    ipl_soup=bs4.BeautifulSoup(result.text,'html.parser')

    for player_names in ipl_soup.find_all('div',class_='top-players__player-name'):
        player_name.append(player_names.text)
        season.append('2019')
   

    for player_team in ipl_soup.find_all('div',class_='top-players__team'):
        team_name=player_team.find('span')
        names_list=(team_name.get('class'))
        Team.append(names_list[2])
    

    for each_player_points in ipl_soup.find_all('td',class_='top-players__pts top-players__padded is-active'):
        player_points.append(each_player_points.text)
    

    for each_player_matches in ipl_soup.find_all('td',class_='top-players__m '):
        player_matches.append(each_player_matches.text)
    

    for each_player_wickets in ipl_soup.find_all('td',class_='top-players__w '):
        player_wickets.append(each_player_wickets.text)
    

    for each_player_dots in ipl_soup.find_all('td',class_='top-players__d '):
        player_dots.append(each_player_dots.text)
    

    for each_player_fours in ipl_soup.find_all('td',class_='top-players__4s '):
        player_fours.append(each_player_fours.text)
    

    for each_player_sixes in ipl_soup.find_all('td',class_='top-players__6s '):
        player_sixes.append(each_player_sixes.text)
    

    for each_player_catches in ipl_soup.find_all('td',class_='top-players__c '):
        player_catches.append(each_player_catches.text)
    

    for each_player_stumps in ipl_soup.find_all('td',class_='top-players__s '):
        player_stumpings.append(each_player_stumps.text)
    
    player_points_2019=pd.DataFrame({'season':season,'Player_name': player_name,'Team':Team,'player_matches': player_matches,'player_wickets':player_wickets
              ,'player_dots':player_dots,'player_fours':player_fours,'player_sixes':player_sixes,
              'player_catches':player_catches,'player_stumpings':player_stumpings,'player_points':player_points
             })
    top_11=player_points_2019[(player_points_2019['Team']==team1) | (player_points_2019['Team']==team2)].reset_index(drop=True)
    return top_11.head(11)

In [7]:
top_players('MI','SRH')

,season,Player_name,Team,player_matches,player_wickets,player_dots,player_fours,player_sixes,player_catches,player_stumpings,player_points
0,2019,Hardik Pandya,MI,13,10,74,26,28,10,0,297
1,2019,David Warner,SRH,12,0,0,57,21,2,0,221
2,2019,Rashid Khan,SRH,13,14,141,2,2,4,0,212
3,2019,Jonny Bairstow,SRH,10,0,0,48,18,9,2,210.5
4,2019,Quinton de Kock,MI,13,0,0,42,18,12,0,198
5,2019,Bhuvneshwar Kumar,SRH,13,9,144,0,0,4,0,185.5
6,2019,Jasprit Bumrah,MI,13,14,131,0,0,2,0,185
7,2019,Krunal Pandya,MI,13,8,56,18,5,4,0,156.5
8,2019,Rohit Sharma,MI,12,0,0,42,9,3,0,144
9,2019,Rahul Chahar,MI,10,10,85,2,0,3,0,132.5
10,2019,Sandeep Sharma,SRH,11,12,82,1,0,1,0,129